name: Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKER_PWD }}" | docker login -u "${{ secrets.DOCKER_LOGIN }}" --password-stdin

    - name: Build Docker image
      run: docker build -t ${{ secrets.DOCKER_LOGIN }}/github-actions-lab5 .

    - name: Push Docker image
      run: docker push ${{ secrets.DOCKER_LOGIN }}/github-actions-lab5
